@page
@model botApp.Pages.fileSenderModel

@{
	ViewData["Title"] = "File sender";
}

<div class="container">
    <h1 class="display-4 text-center">Dosya Gönderme Aracı</h1>
    <hr/>
    <div class="row">
        <div class="col-lg-6">
            <h6 class ="display-8 text-center">Yeni dosya oluşturup yükleme aracı: </h6>
            <form method="POST">
                <div class="mb-3">
                    <label for="fileNameFirst" class="form-label">Gönderilecek dosya adı:</label>
                    <input type="text" class="form-control" name="fileNameFirst" />
                </div>

                <div class="mb-3">
                    <label for="fileExtensionFirst" class="form-label">Gönderilecek dosya uzantısı:</label>
                    <input type="text" class="form-control" name="fileExtensionFirst" />
                </div>

                <div class="mb-3">
                    <label for="fileName" class="form-label">Kanalları Seçiniz:</label>
                    @{
                        var fileSender = new fileSenderModel(null); // Create an instance of the messageSenderModel
                        var channelNames = await fileSender.FetchChannelNamesAsync(); // Call the FetchChannelNamesAsync function

                        if (channelNames != null)
                        {
                            for (int i = 0; i < channelNames.Length; i++)
                            {
                                <input type="checkbox" name="channelNamesFirst" value="@channelNames[i]">
                                <label for="channelNamesFirst">@channelNames[i]</label>
                            }
                        }
                    }
                </div>

                <div class="text-center" name="appendDiv">
                    <button type="submit" class="btn btn-primary" name="Update" asp-page-handler="UploadFile" id="denemeButton">Deneme</button>
                </div>
            </form>
        </div>
        <div class="col-lg-6">
            <h6 class= "display-8 text-center">Local dosya yükleme aracı: </h6>
            <form method="POST">
                <div class="mb-3">
                    <label for="fileName" class="form-label">Gönderilecek dosya adı:</label>
                    <input type="text" class="form-control" name="fileName" />
                </div>

                <div class="mb-3">
                    <label for="fileContent" class="form-label">Dosya içeriği:</label>
                    <input type="text" class="form-control" name="fileContent" />
                </div>
                <div class="mb-3">
                    <label for="fileExtension" class="form-label">Dosya Uzantısı:</label>
                    <input type="text" class="form-control" name="fileExtension" />
                </div>
                <div class="mb-3">
                    <label for="fileTitle" class="form-label">Dosya başlığı:</label>
                    <input type="text" class="form-control" name="fileTitle" />
                </div>
                <div class="mb-3">
                    <label for="fileComment" class="form-label">Dosya yorumu:</label>
                    <input type="text" class="form-control" name="fileComment" />
                </div>

                <div class="mb-3">
                    <label for="fileName" class="form-label">Kanalları Seçiniz:</label>
                    @{
                        var fileSenderFirst = new fileSenderModel(null); // Create an instance of the messageSenderModel
                        var channelNamesFirst = await fileSenderFirst.FetchChannelNamesAsync(); // Call the FetchChannelNamesAsync function

                        if (channelNamesFirst != null)
                        {
                            for (int i = 0; i < channelNamesFirst.Length; i++)
                            {
                                <input type="checkbox" name="channelNames" value="@channelNamesFirst[i]">
                                <label for="channelNames">@channelNamesFirst[i]</label>
                            }
                        }
                    }
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary" name="Update" asp-page-handler="Update">Dosyayı Gönder</button>
                </div>
            </form>
        </div>
    </div>
</div>


@*<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <form method="POST">
                <h1 class="display-4 text-center">Dosya Gönderme Aracı</h1>
                <hr/>



                <div class="text-center">
                    <div class="form-check form-switch mb-3">
                        <input class="form-check-input" type="checkbox" id="toggleButton">
                        <label class="form-check-label" for="toggleButton">Toggle Deneme Button</label>
                    </div>
                </div>





                <div class="text-center" name = "appendDiv">
                    <button type="submit" class="btn btn-primary" name="Update" asp-page-handler="UploadFile" id="denemeButton">Deneme</button>
                </div>

                <div class="mb-3">
                    <label for="fileName" class="form-label">Gönderilecek dosya adı:</label>
                    <input type="text" class="form-control" name="fileName" />
                </div>

                <div class="mb-3">
                    <label for="fileContent" class="form-label">Dosya içeriği:</label>
                    <input type="text" class="form-control" name="fileContent" />
                </div>
                <div class="mb-3">
                    <label for="fileExtension" class="form-label">Dosya Uzantısı:</label>
                    <input type="text" class="form-control" name="fileExtension"/>
                </div>
                <div class="mb-3">
                    <label for="fileTitle" class="form-label">Dosya başlığı:</label>
                    <input type="text" class="form-control" name="fileTitle" />
                </div>
                <div class="mb-3">
                    <label for="fileComment" class="form-label">Dosya yorumu:</label>
                    <input type="text" class="form-control" name="fileComment" />
                </div>

                <div class="mb-3">
                    <label for="fileName" class="form-label">Kanalları Seçiniz:</label>
                    @{
                        var fileSender = new fileSenderModel(null); // Create an instance of the messageSenderModel
                        var channelNames = await fileSender.FetchChannelNamesAsync(); // Call the FetchChannelNamesAsync function

                        if (channelNames != null)
                        {
                            for (int i = 0; i < channelNames.Length; i++)
                            {
                                <input type="checkbox" name="channelNames" value="@channelNames[i]">
                                <label for="channelNames">@channelNames[i]</label>
                            }
                        }
                    }
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary" name="Update" asp-page-handler="Update">Dosyayı Gönder</button>
                </div>
            </form>
        </div>
    </div>
</div>*@
